<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyWebsite</title>
        <link rel = "stylesheet" type = "text/css" href = "/assets/stylesheets/font-awesome-4.7.0/css/font-awesome.css">
        <!-- <link rel = "stylesheet" type = "text/css" href = "css/font-awesome-4.7.0⁩/css⁩/font-awesome.css"> -->
        <link rel = "stylesheet" type = "text/css" href = "/assets/stylesheets/styleItem.css">
    </head>
    <body>
        <div class="header-wrapper">
            <% include ./partials/header.ejs %>
        </div>
        <div class="user-nav-wrapper">
            <% include ./partials/user-navigation.ejs %>
        </div>
        <div class="nav-side-wrapper">
            <% include ./partials/site-navigation.ejs %>
        </div>   
        <main>
            <section>
                <p>Home > Categories > Items</p>
                <img src='<%= data.item.imageURL %>' alt="Virat" style="width:200px;height:240px;">
                <form class = "button1" action="/myitems" method="POST"><input type="submit" value="Save it"/></form>
                <form class = "button2" action="/feedback" method="POST"><input type="submit" value="Rate it"/></form>
                <article class="desc">
                    <h3 class="desc1"><%= data.item.itemName %></h3>
                    <p class = "desc2"><%= data.item.catalogCategory %></p>
                    <p class = "desc3">Rating: <%= data.item.rating %></p>
                    <!-- <p><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    </p> -->
                </article>  
                <p class ="image_desc">This bat was autographed by VIRAT KOHLI</p>
            </section>
            <section class="detail">
                <h3 class="detail1">Description</h3>
                <p class="detail2"><%= data.item.description %></p>
                <form class = "button3" action="/categories/catalog"><input type="submit" value="Continue Shopping"/></form>
            </section>
        </main>
        <div class="footer-wrapper">
            <% include ./partials/footer.ejs %>
        </div>
    </body>
</html>